
.game {
    display: flex;
    flex-direction: row;
  }

.board {
    width: 560px;
    height: 560px;
}

.white-square {
    background-color: #f0d9b5;
    height: 70px;
    width: 70px;
    border: 1px solid #999;
    float: left;
}

.black-square {
    background-color: "#b58863";
    height: 70px;
    width: 70px;
    border: 1px solid #999;
    float: left;
}